@media only screen and (max-width: 1920px) {
    .actual-content {
        width: 65%;
    }
    .faq-content {
        width: 59%;
    }
}

@media only screen and (max-width: 1366px) {
    .actual-content {
        width: 72.5%;
    }
    .faq-content {
        width: 67%;
    }
}

@media only screen and (max-width: 1024px) {
    .actual-content {
        width: 85%;
    }
    .faq-content {
        width: 80%;
    }
    .intro-text {
        line-height: 1.3;
        letter-spacing: normal;
    }
    .course {
        width: 45%;
    }
}

@media only screen and (max-width: 500px) {
    .cover {
        height: 250px;
    }
    h3 {
        font-size: 30px;
        padding-top: 15%;
    }
    h4 {
        margin-top: 5vw;
        font-size: 30px;
    }
    .intro-text {
        font-size: 18px;
    }
    .courses-container {
        justify-content: center;
    }
    .course {
        width: 95%;
    }
    .course > div:not(:first-child) {
        padding-left: 15px;
    }
    .course-detail {
        bottom: 15px;
    }
    .course-status {
        margin-bottom: 50px;
    }
    .course-name {
        padding: 3vw 0;
    }
    .courses-section-title {
        font-size: 22px;
        width: 90%;
        margin: 0 auto;
    }
    .partners-title {
        width: 85%;
    }
    .swiper {
        padding: 10px 0;
    }
    .swiper-slide {
        flex-direction: column;
        
    }
    .pp {
        margin-top: 30px;
        width: 80%;
    }
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
    .faq-content {
        width: 85%;
    }
    .faq-item.active {
        max-height: 1500px;
    }
    .answer,
    .question {
        padding-bottom: 20px;
    }
    .faq-title {
        font-size: 22px;
    }
    .faq-all a {
        font-size: 18px;
    }
    .question-text {
        font-size: 16px;
    }
    nav {
        display: none;
    }
    .navbar {
        background-color: transparent;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        
        .menu-toggle {
        cursor: pointer;
        display: none;
        }
        
        .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        }
        
        .menu {
        display: none;
        justify-content: flex-start;
        align-items: center;
        }
        
        .menu a {
        text-decoration: none;
        color: #fff;
        padding: 20px;
        margin: 0 10px;
        text-align: end;
        transition: color 0.3s;
        font-size: 25px;
        }
        .menu a:first-child {
        margin-top: 40%;
        }
        .menu-toggle {
        z-index: 10;
        }
        .menu-toggle {
        display: block;
        }
        
        .menu {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 65%;
        background-color: #333;
        flex-direction: column;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        }
        
        .menu-toggle.active + .menu {
        opacity: 1;
        }
        
        .menu a {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        }
        .navbar-hidden {
        display: block;
        }
        .half.left,
        .half.right {
        width: 50%;
        }
        .second-half {
        margin-left: 50%;
        }
}

